#container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px 30px;
  min-width: 300px;
}

.posts-header-container {
  display: flex;
  flex: 1;
  padding-bottom: 10px;
}

.posts-header-wrapper {
  display: flex;
  flex: 1;
  margin-left: 72px;
}

.posts-header-wrapper h1 {
  margin: 0px;
  font-size: 40px;
}

.posts-newpost-wrapper {
  display: flex;
  align-items: flex-end;
}

.posts-newpost-wrapper button {
  width: 100px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 5px/5px;
}

.fa.fa-envelope.margin {
  margin-left: -15px;
  margin-right: 10px;
}

.newPost-absolute-container {
  position: absolute;
  left: 40%;
  right: 60%;
  bottom: 80%;
  top: 20%;
}
